  .center{

  text-align: center;
  display: block;
  margin: 0 auto;
}
body{


  color: #00ffe0;
background: linear-gradient( #22008c , #1f003b);
}
#grad {
    background: linear-gradient( #22008c , #1f003b);
}
li{

display: inline;
font-family: 'Eater', cursive;
padding: 18px;

}

h1{
  font-family: 'Eater', cursive;
}

.nav-item{
  display: inline;
  padding: 10px;
}
.nav-link{
  text-decoration: none;
}
