.center{

  text-align: center;
  display: block;
  margin: 0 auto;
}
body{

  background-color: #370081;
  color: #00ffe0;

}

li{

display: inline;
font-family: 'Eater', cursive;
padding: 18px;

}

h1{
  font-family: 'Eater', cursive;
}

.nav-item{
  display: inline;
  padding: 10px;
}
.nav-link{
  text-decoration: none;
}
